amply==0.1.2
backports.lzma==0.0.14
baidu-aip==2.2.18.0
beautifulsoup4==4.9.1
boto==2.49.0
boto3==1.14.20
botocore==1.17.20
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
clyent==1.2.1
cpca==0.4.4
crypto==1.4.1
cx-Oracle==8.0.0
cycler==0.10.0
Cython==0.29.21
datashape==0.5.2
docutils==0.15.2
et-xmlfile==1.0.1
Flask==1.1.2
Flask-Cors==3.0.9
gensim==3.8.3
HeapDict==1.0.1
idna==2.10
install==1.3.3
itsdangerous==1.1.0
jdcal==1.4.1
jieba==0.42.1
Jinja2==2.11.2
jmespath==0.10.0
joblib==0.16.0
kiwisolver==1.2.0
langdetect==1.0.8
lxml==4.5.2
MarkupSafe==1.1.1
matplotlib==3.2.2
multipledispatch==0.6.0
Naked==0.1.31
nltk==3.5
numpy==1.14.5
openpyxl==3.0.4
pandas==1.0.5
parso==0.7.1
Pillow==7.2.0
psutil==5.7.0
PuLP==2.2
pycrypt==0.7.2
pycryptodome==3.9.8
PyMySQL==0.9.3
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
PyYAML==5.3.1
regex==2020.6.8
requests==2.24.0
s3transfer==0.3.3
scapy==2.4.3
schedule==0.6.0
scikit-learn==0.23.1
scipy==1.5.1
shellescape==3.8.1
six==1.15.0
sklearn==0.0
smart-open==2.1.0
snownlp==0.12.3
soupsieve==2.0.1
SQLAlchemy==1.3.18
stanfordcorenlp==3.9.1.1
textblob==0.15.3
threadpoolctl==2.1.0
tqdm==4.47.0
urllib3==1.25.9
Werkzeug==1.0.1
wordcloud==1.7.0
xlrd==1.2.0
xlwt==1.3.0
zhon==1.1.5
zict==2.0.0
